# Data Cleaning for the dataset containing crimes in Canada.

Import the required packages.

In [1]:
import os
import re
import time
import pandas as pd

In [2]:
t0 = time.time()

Import dataset.

In [3]:
path = os.getcwd()+ "/untidy_crime_canada_dataset.csv"
data = pd.read_csv(path)
data.head()

   REF_DATE     GEO      Violations        Statistics  VALUE
0      2000  Canada  Homicide [110]  Actual incidents  546.0
1      2001  Canada  Homicide [110]  Actual incidents  553.0
2      2002  Canada  Homicide [110]  Actual incidents  582.0
3      2003  Canada  Homicide [110]  Actual incidents  549.0
4      2004  Canada  Homicide [110]  Actual incidents  624.0

In [4]:
print("The dataset has",data.shape[0],"number of rows and ",data.shape[1],"number of columns.")

The dataset has 10046 number of rows and  5 number of columns.

Rename the columns.

In [5]:
data.rename(
    columns = {
        'REF_DATE' : 'year',
        'GEO' : 'location',
        'Violations' : 'type_of_crime',
        'Statistics' : 'parameter',
        'VALUE' : 'count' 
    },
    inplace = True
)

In [6]:
data.head()

   year location   type_of_crime         parameter  count
0  2000   Canada  Homicide [110]  Actual incidents  546.0
1  2001   Canada  Homicide [110]  Actual incidents  553.0
2  2002   Canada  Homicide [110]  Actual incidents  582.0
3  2003   Canada  Homicide [110]  Actual incidents  549.0
4  2004   Canada  Homicide [110]  Actual incidents  624.0

See unique values in the **location** column.

In [7]:
data.location.unique()

array(['Canada', 'Newfoundland and Labrador [10]',
       'Prince Edward Island [11]', 'Nova Scotia [12]',
       'New Brunswick [13]', 'Quebec [24]', 'Ontario [35]',
       'Manitoba [46]', 'Saskatchewan [47]', 'Alberta [48]',
       'British Columbia [59]', 'Yukon [60]',
       'Northwest Territories [61]', 'Nunavut [62]'], dtype=object)

Remove all the digits and squared brackets from the entries in the **location** column.

In [8]:
data.location = data.location.str.extract(r'(\w{0,10}\s*\w{0,10}\s*\w{0,10}\s*\w{0,10})')

In [9]:
data.location.unique()

array(['Canada', 'Newfoundland and Labrador', 'Prince Edward Island ',
       'Nova Scotia ', 'New Brunswick ', 'Quebec ', 'Ontario ',
       'Manitoba ', 'Saskatchewan ', 'Alberta ', 'British Columbia ',
       'Yukon ', 'Northwest Territories ', 'Nunavut '], dtype=object)

In [10]:
data.head()

   year location   type_of_crime         parameter  count
0  2000   Canada  Homicide [110]  Actual incidents  546.0
1  2001   Canada  Homicide [110]  Actual incidents  553.0
2  2002   Canada  Homicide [110]  Actual incidents  582.0
3  2003   Canada  Homicide [110]  Actual incidents  549.0
4  2004   Canada  Homicide [110]  Actual incidents  624.0

In [11]:
data.type_of_crime.unique()

array(['Homicide [110]', 'Attempted murder [1210]',
       'Total sexual violations against children [130]',
       'Total firearms, use of, discharge, pointing [150]',
       'Total robbery [160]', 'Total theft of motor vehicle [220]',
       'Total theft over $5,000 (non-motor vehicle) [230]',
       'Total theft under $5,000 (non-motor vehicle) [240]',
       'Fraud [2160]', 'Counterfeiting [3420]',
       'Total weapons violations [310]',
       'Making, or distribution of child pornography [3456]',
       'Total prostitution [320]', 'Trespass at night [3490]',
       'Public incitement of hatred [3560]',
       'Facilitate terrorist activity [3714]',
       'Total impaired driving [910]', 'Total drug violations [401]'],
      dtype=object)

Remove all the digits and squared brackets from the entries in the **type_of_crime** column.

In [12]:
old_entries = ['Homicide [110]', 'Attempted murder [1210]','Total sexual violations against children [130]',
'Total firearms, use of, discharge, pointing [150]', 'Total robbery [160]', 
'Total theft of motor vehicle [220]', 'Total theft over $5,000 (non-motor vehicle) [230]',
'Total theft under $5,000 (non-motor vehicle) [240]','Fraud [2160]', 'Counterfeiting [3420]',
'Total weapons violations [310]', 'Making, or distribution of child pornography [3456]', 
'Total prostitution [320]', 'Trespass at night [3490]',
'Public incitement of hatred [3560]', 'Facilitate terrorist activity [3714]',
'Total impaired driving [910]', 'Total drug violations [401]']
new_entries = ['Homicide', 'Attempted murder','Sexual violations against children',
'Firearms related crime', 'Robbery', 
'Motor vehicle theft', 'Theft over $5,000',
'Theft under $5,000','Fraud', 'Counterfeiting',
'Weapons violations', 'Child pornography', 
'Prostitution', 'Trespass',
'Public incitement of hatred', 'Facilitate terrorist activit',
'Impaired driving', 'Drug violations']

In [13]:
for i in range(0,len(data.type_of_crime.unique())):
    data.type_of_crime.replace(old_entries[i], new_entries[i], inplace = True)

In [14]:
data.type_of_crime.unique()

array(['Homicide', 'Attempted murder',
       'Sexual violations against children', 'Firearms related crime',
       'Robbery', 'Motor vehicle theft', 'Theft over $5,000',
       'Theft under $5,000', 'Fraud', 'Counterfeiting',
       'Weapons violations', 'Child pornography', 'Prostitution',
       'Trespass', 'Public incitement of hatred',
       'Facilitate terrorist activit', 'Impaired driving',
       'Drug violations'], dtype=object)

In [15]:
data.head()

   year location type_of_crime         parameter  count
0  2000   Canada      Homicide  Actual incidents  546.0
1  2001   Canada      Homicide  Actual incidents  553.0
2  2002   Canada      Homicide  Actual incidents  582.0
3  2003   Canada      Homicide  Actual incidents  549.0
4  2004   Canada      Homicide  Actual incidents  624.0

In [16]:
data.parameter.unique()

array(['Actual incidents', 'Rate per 100,000 population'], dtype=object)

In [17]:
data.parameter = data.parameter.replace('Actual incidents', 'incidents')
data.parameter = data.parameter.replace('Rate per 100,000 population', 'rate_per_100k')

In [18]:
data.head()

   year location type_of_crime  parameter  count
0  2000   Canada      Homicide  incidents  546.0
1  2001   Canada      Homicide  incidents  553.0
2  2002   Canada      Homicide  incidents  582.0
3  2003   Canada      Homicide  incidents  549.0
4  2004   Canada      Homicide  incidents  624.0

Check datatypes

In [19]:
data.dtypes

year               int64
location          object
type_of_crime     object
parameter         object
count            float64
dtype: object

Check missing values.

In [20]:
data.isnull().sum()

year               0
location           0
type_of_crime      0
parameter          0
count            135
dtype: int64

Fill all missing values with zeros.

In [21]:
data.fillna(value = 0, inplace = True)

In [22]:
data.isnull().sum()

year             0
location         0
type_of_crime    0
parameter        0
count            0
dtype: int64

In [23]:
data

       year  location    type_of_crime      parameter   count
0      2000    Canada         Homicide      incidents  546.00
1      2001    Canada         Homicide      incidents  553.00
2      2002    Canada         Homicide      incidents  582.00
3      2003    Canada         Homicide      incidents  549.00
4      2004    Canada         Homicide      incidents  624.00
...     ...       ...              ...            ...     ...
10041  2016  Nunavut   Drug violations  rate_per_100k  549.02
10042  2017  Nunavut   Drug violations  rate_per_100k  383.53
10043  2018  Nunavut   Drug violations  rate_per_100k  272.66
10044  2019  Nunavut   Drug violations  rate_per_100k   98.41
10045  2020  Nunavut   Drug violations  rate_per_100k  149.93

[10046 rows x 5 columns]

In [24]:
data

       year  location    type_of_crime      parameter   count
0      2000    Canada         Homicide      incidents  546.00
1      2001    Canada         Homicide      incidents  553.00
2      2002    Canada         Homicide      incidents  582.00
3      2003    Canada         Homicide      incidents  549.00
4      2004    Canada         Homicide      incidents  624.00
...     ...       ...              ...            ...     ...
10041  2016  Nunavut   Drug violations  rate_per_100k  549.02
10042  2017  Nunavut   Drug violations  rate_per_100k  383.53
10043  2018  Nunavut   Drug violations  rate_per_100k  272.66
10044  2019  Nunavut   Drug violations  rate_per_100k   98.41
10045  2020  Nunavut   Drug violations  rate_per_100k  149.93

[10046 rows x 5 columns]

In [25]:
data_pivot = data.pivot(index = ['year', 'location', 'type_of_crime'], columns = ['parameter'], values = 'count')
data_pivot

parameter                                         incidents  rate_per_100k
year location type_of_crime
2000 Alberta  Attempted murder                         35.0           1.16
              Counterfeiting                          137.0           4.56
              Drug violations                        6979.0         232.25
              Firearms related crime                  203.0           6.76
              Fraud                                 11800.0         392.69
...                                                     ...            ...
2020 Yukon    Sexual violations against children       27.0          64.21
              Theft over $5,000                        29.0          68.96
              Theft under $5,000                      782.0        1859.60
              Trespass                                  8.0          19.02
              Weapons violations                       62.0         147.44

[5023 rows x 2 columns]

In [26]:
data_pivot.reset_index(inplace = True)
data_pivot

parameter,year,location,type_of_crime,incidents,rate_per_100k
0,2000,Alberta,Attempted murder,35.0,1.16
1,2000,Alberta,Counterfeiting,137.0,4.56
2,2000,Alberta,Drug violations,6979.0,232.25
3,2000,Alberta,Firearms related crime,203.0,6.76
4,2000,Alberta,Fraud,11800.0,392.69
...,...,...,...,...,...
5018,2020,Yukon,Sexual violations against children,27.0,64.21
5019,2020,Yukon,"Theft over $5,000",29.0,68.96
5020,2020,Yukon,"Theft under $5,000",782.0,1859.60
5021,2020,Yukon,Trespass,8.0,19.02
5022,2020,Yukon,Weapons violations,62.0,147.44

In [27]:
data_clean = data_pivot[data_pivot.location != "Canada"]
data_clean

parameter,year,location,type_of_crime,incidents,rate_per_100k
0,2000,Alberta,Attempted murder,35.0,1.16
1,2000,Alberta,Counterfeiting,137.0,4.56
2,2000,Alberta,Drug violations,6979.0,232.25
3,2000,Alberta,Firearms related crime,203.0,6.76
4,2000,Alberta,Fraud,11800.0,392.69
...,...,...,...,...,...
5018,2020,Yukon,Sexual violations against children,27.0,64.21
5019,2020,Yukon,"Theft over $5,000",29.0,68.96
5020,2020,Yukon,"Theft under $5,000",782.0,1859.60
5021,2020,Yukon,Trespass,8.0,19.02
5022,2020,Yukon,Weapons violations,62.0,147.44

In [28]:
print("The clean dataset has",data_clean.shape[0],"number of rows and ",data_clean.shape[1],"number of columns.")

The clean dataset has 4664 number of rows and  5 number of columns.

In [29]:
data_clean

parameter,year,location,type_of_crime,incidents,rate_per_100k
0,2000,Alberta,Attempted murder,35.0,1.16
1,2000,Alberta,Counterfeiting,137.0,4.56
2,2000,Alberta,Drug violations,6979.0,232.25
3,2000,Alberta,Firearms related crime,203.0,6.76
4,2000,Alberta,Fraud,11800.0,392.69
...,...,...,...,...,...
5018,2020,Yukon,Sexual violations against children,27.0,64.21
5019,2020,Yukon,"Theft over $5,000",29.0,68.96
5020,2020,Yukon,"Theft under $5,000",782.0,1859.60
5021,2020,Yukon,Trespass,8.0,19.02
5022,2020,Yukon,Weapons violations,62.0,147.44

In [30]:
data_clean.isna().sum()

parameter
year             0
location         0
type_of_crime    0
incidents        0
rate_per_100k    0
dtype: int64

Export clean dataset.

In [31]:
data_clean.to_excel(excel_writer = os.getcwd()+"/clean_crime_canada_dataset.xlsx", index = False)

In [32]:
print("Total runtime for the notebook is", round(time.time()-t0, 2), "seconds.")

Total runtime for the notebook is 1.04 seconds.

Author:

Mangaljit Singh